.promo {

  margin: 0 auto;
  max-width: 1000px;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    gap: 10px;
    list-style: none;
  }

  &__item {
    padding: 5px;
    display: grid;
    grid-template-columns: 10px 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(138, 135, 135);
    color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
  }

  &__data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
  
}

.content {

  max-width: 800px;
  margin: 0 auto;

  &__item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 80px));
    border-bottom: 1px solid #000;
  }
}
